In [1]:
def adunare(a, b):
    return a + b

In [2]:
adunare(2, 2)

4

In [3]:
adunare(2)

TypeError: adunare() missing 1 required positional argument: 'b'

In [4]:
adunare(2, 3, 4)

TypeError: adunare() takes 2 positional arguments but 3 were given

In [ ]:
def suma(*numere):
    print(numere, type(numere))

In [6]:
suma(10, 20, 30)

(10, 20, 30) <class 'tuple'>

In [7]:
def suma(*numere):
    print(numere, type(numere))
    total = 0
    for val in numere:
        total += val
    return total

In [8]:
suma(10, 20, 30)

(10, 20, 30) <class 'tuple'>

60

In [9]:
def suma(*args):
    total = 0
    for val in args:
        total += val
    return total

In [10]:
def functie_cu_parametri_optionali ( *args, **kargs):
    print(args, type(args))
    print(kargs, type(kargs))

In [11]:
functie_cu_parametri_optionali(1, 2, 3)

(1, 2, 3) <class 'tuple'>
{} <class 'dict'>

In [14]:
functie_cu_parametri_optionali(1, 2, 3, cheie = "valoare", cheie2 = "valoare2")

(1, 2, 3) <class 'tuple'>
{'cheie': 'valoare', 'cheie2': 'valoare2'} <class 'dict'>