# # Instalare pandas cu comanda: pip install pandas

In [1]:
import pandas as pd

In [4]:
pd.read_csv("fisier_csv.csv")

        cer  iarba   soare
0  albastru  verde  galben
1  albastru  verde  galben
2  albastru  verde  galben
3  albastru  verde  galben
4  albastru  verde  galben

In [ ]:
dictionar = {
    "cer" : "albastru",
    "iarba" : "verde",
    "soare" : "galben"
}


pd.DataFrame([dictionar])

        cer  iarba   soare
0  albastru  verde  galben

In [ ]:
dictionar1 = {
    "cer" : "albastru",
    "iarba" : "verde",
    "soare" : "galben"
}

dictionar2 = {
    "cer" : "gri",
    "iarba" : "maro",
    "soare" : "portocaliu"
}

df = pd.DataFrame([dictionar1, dictionar2])
df

        cer  iarba       soare
0  albastru  verde      galben
1       gri   maro  portocaliu

In [13]:
df[["cer"]]

        cer
0  albastru
1       gri

In [14]:
df[["cer", "iarba"]]

        cer  iarba
0  albastru  verde
1       gri   maro

In [16]:
df.iloc[0]

cer      albastru
iarba       verde
soare      galben
Name: 0, dtype: object

In [ ]:
df[ df["iarba"] == "verde" ]

        cer  iarba   soare
0  albastru  verde  galben

In [18]:
df.to_excel("fisier_excel.xlsx")

In [20]:
pd.read_excel("fisier_excel.xlsx", index_col=0)

        cer  iarba       soare
0  albastru  verde      galben
1       gri   maro  portocaliu

In [21]:
df.to_numpy()

array([['albastru', 'verde', 'galben'],
       ['gri', 'maro', 'portocaliu']], dtype=object)