In [1]:
import pandas as pd

In [ ]:
DATABASE_URL = 'localhost'
USER = '........'
PASSWORD = '.......'

# ! pip install mysql-connector-python

In [ ]:
# Source - https://stackoverflow.com/a/64565974
# Posted by chandni goyal
# Retrieved 2026-02-07, License - CC BY-SA 4.0

import mysql.connector as sql

db_connection = sql.connect(host=DATABASE_URL, database='vacanta', 
user=USER, password=PASSWORD)

In [11]:
df = pd.read_sql("SELECT * FROM bilete", con=db_connection)
df

/var/folders/3k/f_77v9pn1r94_xmvm2w3xgqr0000gn/T/ipykernel_10478/3981935944.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql("SELECT * FROM bilete", con=db_connection)

   id    plecare destinatie
0   1  Timisoara      Paris
1   2  Bucuresti     Londra
2   3     Madrid   Istanbul

In [13]:
df = pd.read_sql("SELECT * FROM concediu", con=db_connection, index_col="id")
df

/var/folders/3k/f_77v9pn1r94_xmvm2w3xgqr0000gn/T/ipykernel_10478/3502789601.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql("SELECT * FROM concediu", con=db_connection, index_col="id")

      nume  total  disponibile
id
1   Andrei     22           21
2   Bogdan     21           20