In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
df = pd.read_csv("demo.csv")
df

,COD,PRODUS,COMANDA F,TR CI,Cinema,VZ CI,TR CR,Crisan,VZ CR,DEPOZIT,...,VZ PR,TR ST,Steaua,VZ ST,TR ZA,Zahana,VZ ZA,TOTAL,VZ 1,VZ 6
0,378,RECAS SCHWABEN WEIN 750ML ROZE DEMIDULCE,NaN,NaN,0,0,NaN,0,0,0,...,0,NaN,0,0,NaN,0,0,0,0,NaN
1,379,VIN CASTEL HUNIADE 750ML ROZE DEMISEC,NaN,NaN,0,0,NaN,0,0,0,...,0,NaN,0,0,NaN,0,0,0,0,NaN
2,380,VIN CASTEL HUNIADE 750ML RIESLING SEC,NaN,NaN,0,0,NaN,0,0,0,...,0,NaN,0,0,NaN,0,0,0,0,NaN
3,381,VIN CASTEL HUNIADE 750ML FETEASCA REGALA DEMISEC,NaN,NaN,0,0,NaN,0,0,0,...,0,NaN,0,0,NaN,1,0,0,0,NaN
4,382,VIN CASTEL HUNIADE 750ML CHARDONNAY DEMIDULCE,NaN,NaN,0,0,NaN,0,0,0,...,0,NaN,0,0,NaN,0,0,0,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1162,27308,TYMBARK 1L MAR VERDE,NaN,NaN,0,0,NaN,1,0,0,...,0,NaN,0,1,NaN,1,0,2,1,NaN
1163,27422,PRIGAT 1.75L VISINE,NaN,NaN,0,0,NaN,0,0,0,...,0,NaN,0,0,NaN,-1,0,-1,0,NaN
1164,27431,HELL ENERGY DRINK 250ML APPLE STRONG,NaN,NaN,-1,0,NaN,0,0,24,...,0,NaN,-2,0,NaN,0,0,21,7,NaN
1165,29286,COTNARI 1.5L ETICHETA GALBENA ALB DD,NaN,NaN,1,0,NaN,4,1,0,...,0,NaN,0,0,NaN,0,0,6,1,NaN
1166,29543,BUCOVINA APA 0.5L PLATA,NaN,NaN,0,0,NaN,0,0,0,...,0,NaN,-1,0,NaN,0,0,-1,0,NaN

# CAPUL DE TABEL

In [4]:
df.keys()

Index(['COD', 'PRODUS', 'COMANDA F', 'TR CI', 'Cinema', 'VZ CI', 'TR CR',
       'Crisan', 'VZ CR', 'DEPOZIT', 'EXP', 'TR GA', 'Gara', 'VZ GA', 'TR PR',
       'Progresu', 'VZ PR', 'TR ST', 'Steaua', 'VZ ST', 'TR ZA', 'Zahana',
       'VZ ZA', 'TOTAL', 'VZ 1', 'VZ 6'],
      dtype='object')

# Citirea primelor 3 instructiuni

In [7]:
df.head(3)

,COD,PRODUS,COMANDA F,TR CI,Cinema,VZ CI,TR CR,Crisan,VZ CR,DEPOZIT,...,VZ PR,TR ST,Steaua,VZ ST,TR ZA,Zahana,VZ ZA,TOTAL,VZ 1,VZ 6
0,378,RECAS SCHWABEN WEIN 750ML ROZE DEMIDULCE,NaN,NaN,0,0,NaN,0,0,0,...,0,NaN,0,0,NaN,0,0,0,0,NaN
1,379,VIN CASTEL HUNIADE 750ML ROZE DEMISEC,NaN,NaN,0,0,NaN,0,0,0,...,0,NaN,0,0,NaN,0,0,0,0,NaN
2,380,VIN CASTEL HUNIADE 750ML RIESLING SEC,NaN,NaN,0,0,NaN,0,0,0,...,0,NaN,0,0,NaN,0,0,0,0,NaN

# Citirea ultimelor 3 instructiuni

In [8]:
df.tail(3)

,COD,PRODUS,COMANDA F,TR CI,Cinema,VZ CI,TR CR,Crisan,VZ CR,DEPOZIT,...,VZ PR,TR ST,Steaua,VZ ST,TR ZA,Zahana,VZ ZA,TOTAL,VZ 1,VZ 6
1164,27431,HELL ENERGY DRINK 250ML APPLE STRONG,NaN,NaN,-1,0,NaN,0,0,24,...,0,NaN,-2,0,NaN,0,0,21,7,NaN
1165,29286,COTNARI 1.5L ETICHETA GALBENA ALB DD,NaN,NaN,1,0,NaN,4,1,0,...,0,NaN,0,0,NaN,0,0,6,1,NaN
1166,29543,BUCOVINA APA 0.5L PLATA,NaN,NaN,0,0,NaN,0,0,0,...,0,NaN,-1,0,NaN,0,0,-1,0,NaN

In [9]:
df.iloc[ 10 ]

COD                                       1495
PRODUS       SCHWEPPES 0.33L DOZA BITTER LEMON
COMANDA F                                  NaN
TR CI                                      NaN
Cinema                                       0
VZ CI                                        0
TR CR                                      NaN
Crisan                                       0
VZ CR                                        0
DEPOZIT                                      3
EXP                                        NaN
TR GA                                      NaN
Gara                                         1
VZ GA                                        0
TR PR                                      NaN
Progresu                                     0
VZ PR                                        0
TR ST                                      NaN
Steaua                                       0
VZ ST                                        0
TR ZA                                      NaN
Zahana                                      -3
VZ ZA                                        0
TOTAL                                        1
VZ 1                                         0
VZ 6                                       NaN
Name: 10, dtype: object

In [10]:
df.iloc[ 0 : 4 ]

,COD,PRODUS,COMANDA F,TR CI,Cinema,VZ CI,TR CR,Crisan,VZ CR,DEPOZIT,...,VZ PR,TR ST,Steaua,VZ ST,TR ZA,Zahana,VZ ZA,TOTAL,VZ 1,VZ 6
0,378,RECAS SCHWABEN WEIN 750ML ROZE DEMIDULCE,NaN,NaN,0,0,NaN,0,0,0,...,0,NaN,0,0,NaN,0,0,0,0,NaN
1,379,VIN CASTEL HUNIADE 750ML ROZE DEMISEC,NaN,NaN,0,0,NaN,0,0,0,...,0,NaN,0,0,NaN,0,0,0,0,NaN
2,380,VIN CASTEL HUNIADE 750ML RIESLING SEC,NaN,NaN,0,0,NaN,0,0,0,...,0,NaN,0,0,NaN,0,0,0,0,NaN
3,381,VIN CASTEL HUNIADE 750ML FETEASCA REGALA DEMISEC,NaN,NaN,0,0,NaN,0,0,0,...,0,NaN,0,0,NaN,1,0,0,0,NaN

In [ ]:
#     inclus : neinclus
df.iloc[ 100 : 104 ]

,COD,PRODUS,COMANDA F,TR CI,Cinema,VZ CI,TR CR,Crisan,VZ CR,DEPOZIT,...,VZ PR,TR ST,Steaua,VZ ST,TR ZA,Zahana,VZ ZA,TOTAL,VZ 1,VZ 6
100,18437,BERE CIUCAS 0.5L PET,NaN,NaN,0,0,NaN,-10,0,0,...,0,NaN,0,0,NaN,0,0,-10,0,NaN
101,18510,BERE URSUS 0.5L COOLER F A CIRESE,NaN,NaN,0,0,NaN,0,0,0,...,0,NaN,-1,0,NaN,0,0,-1,0,NaN
102,18673,ALCALIA APA NATURALA ALCALINA 1.5L PLATA,NaN,NaN,-5,0,NaN,0,0,0,...,0,NaN,-5,0,NaN,0,0,-10,0,NaN
103,18707,BERE PERONI NASTRO AZZURRO 660ML,NaN,NaN,0,0,NaN,0,1,2,...,0,NaN,0,0,NaN,-4,0,-2,1,NaN

In [12]:
df[ [ "Steaua",  "Crisan", "DEPOZIT" ]  ]

      Steaua  Crisan  DEPOZIT
0          0       0        0
1          0       0        0
2          0       0        0
3          0       0        0
4          0       0        0
...      ...     ...      ...
1162       0       1        0
1163       0       0        0
1164      -2       0       24
1165       0       4        0
1166      -1       0        0

[1167 rows x 3 columns]