In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
pd.read_csv("https://raw.githubusercontent.com/sojog/Python-ADR-31-ianuarie-7-februarie-2026/refs/heads/main/clwin.csv")

    id      country           team  trophies
0    0      England      Liverpool       6.0
1    1        Spain      Barcelona       5.0
2    2      England     Man United       3.0
3    3        Italy          Inter       3.0
4    4      England        Chelsea       2.0
5    5      England        Chelsea       2.0
6    6      England   Nottm Forest       2.0
7    7     Portugal        Benfica       2.0
8    8        Italy       Juventus       2.0
9    9     Portugal       FC Porto       2.0
10  10      England       Man City       1.0
11  11      Germany       Dortmund       1.0
12  12  Netherlands      Feyenoord       1.0
13  13       France      Marseille       1.0
14  14      England    Aston Villa       1.0
15  15      Germany        Hamburg       1.0
16  16       Serbia  Crvena zvezda       1.0
17  17      Romania           FCSB       NaN
18  18  Netherlands            PSV       1.0
19  19     Scotland         Celtic       1.0

In [6]:
pd.read_csv("date/clwin.csv")

    id      country           team  trophies
0    0      England      Liverpool       6.0
1    1        Spain      Barcelona       5.0
2    2      England     Man United       3.0
3    3        Italy          Inter       3.0
4    4      England        Chelsea       2.0
5    5      England        Chelsea       2.0
6    6      England   Nottm Forest       2.0
7    7     Portugal        Benfica       2.0
8    8        Italy       Juventus       2.0
9    9     Portugal       FC Porto       2.0
10  10      England       Man City       1.0
11  11      Germany       Dortmund       1.0
12  12  Netherlands      Feyenoord       1.0
13  13       France      Marseille       1.0
14  14      England    Aston Villa       1.0
15  15      Germany        Hamburg       1.0
16  16       Serbia  Crvena zvezda       1.0
17  17      Romania           FCSB       NaN
18  18  Netherlands            PSV       1.0
19  19     Scotland         Celtic       1.0

In [8]:
df = pd.read_csv("date/clwin.csv", index_col="id")
df

        country           team  trophies
id
0       England      Liverpool       6.0
1         Spain      Barcelona       5.0
2       England     Man United       3.0
3         Italy          Inter       3.0
4       England        Chelsea       2.0
5       England        Chelsea       2.0
6       England   Nottm Forest       2.0
7      Portugal        Benfica       2.0
8         Italy       Juventus       2.0
9      Portugal       FC Porto       2.0
10      England       Man City       1.0
11      Germany       Dortmund       1.0
12  Netherlands      Feyenoord       1.0
13       France      Marseille       1.0
14      England    Aston Villa       1.0
15      Germany        Hamburg       1.0
16       Serbia  Crvena zvezda       1.0
17      Romania           FCSB       NaN
18  Netherlands            PSV       1.0
19     Scotland         Celtic       1.0

In [9]:
df.describe()

        trophies
count  19.000000
mean    2.000000
std     1.414214
min     1.000000
25%     1.000000
50%     2.000000
75%     2.000000
max     6.000000

# 1. Filtrare coloane (selectare a 2 dintre ele)

In [10]:
df.keys()

Index(['country', 'team', 'trophies'], dtype='object')

In [11]:
df [ [ 'team', 'trophies'] ]

             team  trophies
id
0       Liverpool       6.0
1       Barcelona       5.0
2      Man United       3.0
3           Inter       3.0
4         Chelsea       2.0
5         Chelsea       2.0
6    Nottm Forest       2.0
7         Benfica       2.0
8        Juventus       2.0
9        FC Porto       2.0
10       Man City       1.0
11       Dortmund       1.0
12      Feyenoord       1.0
13      Marseille       1.0
14    Aston Villa       1.0
15        Hamburg       1.0
16  Crvena zvezda       1.0
17           FCSB       NaN
18            PSV       1.0
19         Celtic       1.0

# 2. Filtrare dupa index

In [13]:
df.iloc[9]

country     Portugal
team        FC Porto
trophies         2.0
Name: 9, dtype: object

In [ ]:
    # inclus: neinclus
df.iloc[ 10 :    16] # slice ->

        country         team  trophies
id
10      England     Man City       1.0
11      Germany     Dortmund       1.0
12  Netherlands    Feyenoord       1.0
13       France    Marseille       1.0
14      England  Aston Villa       1.0
15      Germany      Hamburg       1.0

# 3. Filtre dupa conditie

In [ ]:
df[df["trophies"] > 2]

    country        team  trophies
id
0   England   Liverpool       6.0
1     Spain   Barcelona       5.0
2   England  Man United       3.0
3     Italy       Inter       3.0

In [17]:
conditie1 = df["trophies"] > 1
conditie2 = df["trophies"] < 5


df[ conditie1 & conditie2] # & - SI Logic

     country          team  trophies
id
2    England    Man United       3.0
3      Italy         Inter       3.0
4    England       Chelsea       2.0
5    England       Chelsea       2.0
6    England  Nottm Forest       2.0
7   Portugal       Benfica       2.0
8      Italy      Juventus       2.0
9   Portugal      FC Porto       2.0

In [18]:
conditie1 = df["trophies"] < 2
conditie2 = df["trophies"] > 5


df[ conditie1 | conditie2] # & - SAU Logic

        country           team  trophies
id
0       England      Liverpool       6.0
10      England       Man City       1.0
11      Germany       Dortmund       1.0
12  Netherlands      Feyenoord       1.0
13       France      Marseille       1.0
14      England    Aston Villa       1.0
15      Germany        Hamburg       1.0
16       Serbia  Crvena zvezda       1.0
18  Netherlands            PSV       1.0
19     Scotland         Celtic       1.0

In [19]:
df.keys()

Index(['country', 'team', 'trophies'], dtype='object')

In [ ]:
df[['team', 'trophies','country' ]] # creaza un nou dataframe

             team  trophies      country
id
0       Liverpool       6.0      England
1       Barcelona       5.0        Spain
2      Man United       3.0      England
3           Inter       3.0        Italy
4         Chelsea       2.0      England
5         Chelsea       2.0      England
6    Nottm Forest       2.0      England
7         Benfica       2.0     Portugal
8        Juventus       2.0        Italy
9        FC Porto       2.0     Portugal
10       Man City       1.0      England
11       Dortmund       1.0      Germany
12      Feyenoord       1.0  Netherlands
13      Marseille       1.0       France
14    Aston Villa       1.0      England
15        Hamburg       1.0      Germany
16  Crvena zvezda       1.0       Serbia
17           FCSB       NaN      Romania
18            PSV       1.0  Netherlands
19         Celtic       1.0     Scotland

In [22]:
df

        country           team  trophies
id
0       England      Liverpool       6.0
1         Spain      Barcelona       5.0
2       England     Man United       3.0
3         Italy          Inter       3.0
4       England        Chelsea       2.0
5       England        Chelsea       2.0
6       England   Nottm Forest       2.0
7      Portugal        Benfica       2.0
8         Italy       Juventus       2.0
9      Portugal       FC Porto       2.0
10      England       Man City       1.0
11      Germany       Dortmund       1.0
12  Netherlands      Feyenoord       1.0
13       France      Marseille       1.0
14      England    Aston Villa       1.0
15      Germany        Hamburg       1.0
16       Serbia  Crvena zvezda       1.0
17      Romania           FCSB       NaN
18  Netherlands            PSV       1.0
19     Scotland         Celtic       1.0

# 4. Gasirea valorilor lipsa

In [24]:
df.isnull().sum()

country     0
team        0
trophies    1
dtype: int64

In [26]:
df [df.isnull().any(axis=1)]

    country  team  trophies
id
17  Romania  FCSB       NaN

# 5. Creare de coloane noi

In [27]:
df.head(2)

    country       team  trophies
id
0   England  Liverpool       6.0
1     Spain  Barcelona       5.0

In [28]:
df["Big Team"] = df["trophies"] > 2
df

        country           team  trophies  Big Team
id
0       England      Liverpool       6.0      True
1         Spain      Barcelona       5.0      True
2       England     Man United       3.0      True
3         Italy          Inter       3.0      True
4       England        Chelsea       2.0     False
5       England        Chelsea       2.0     False
6       England   Nottm Forest       2.0     False
7      Portugal        Benfica       2.0     False
8         Italy       Juventus       2.0     False
9      Portugal       FC Porto       2.0     False
10      England       Man City       1.0     False
11      Germany       Dortmund       1.0     False
12  Netherlands      Feyenoord       1.0     False
13       France      Marseille       1.0     False
14      England    Aston Villa       1.0     False
15      Germany        Hamburg       1.0     False
16       Serbia  Crvena zvezda       1.0     False
17      Romania           FCSB       NaN     False
18  Netherlands            PSV       1.0     False
19     Scotland         Celtic       1.0     False