In [52]:
import pandas as pd
import matplotlib.pyplot as plt

In [ ]:
FOLDERUL_IN_CARE_SE_AFLA_FISISERUL = "date"

CALEA_FISIERULUI_1 = FOLDERUL_IN_CARE_SE_AFLA_FISISERUL + "/"    +   "fisier1.csv"
CALEA_FISIERULUI_2 = "date/fisier1.csv"

In [ ]:
f1df = pd.read_csv(CALEA_FISIERULUI_1)
f1df

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Cinema,Crisan,DEPOZIT,Gara,Progresu,Steaua,Zahana,TOTAL
0,378,RECAS SCHWABEN WEIN 750ML ROZE DEMIDULCE,Stoc,0,0,0,0,0,0,0,0
1,379,VIN CASTEL HUNIADE 750ML ROZE DEMISEC,Stoc,0,0,0,0,0,0,0,0

In [ ]:
f2df = pd.read_csv(CALEA_FISIERULUI_2)
f2df

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Cinema,Crisan,DEPOZIT,Gara,Progresu,Steaua,Zahana,TOTAL
0,378.0,RECAS SCHWABEN WEIN 750ML ROZE DEMIDULCE,Cantitate,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,Valoare,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,379.0,VIN CASTEL HUNIADE 750ML ROZE DEMISEC,Cantitate,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,Valoare,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,380.0,VIN CASTEL HUNIADE 750ML RIESLING SEC,Cantitate,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,Valoare,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,381.0,VIN CASTEL HUNIADE 750ML FETEASCA REGALA DEMISEC,Cantitate,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [55]:
f1df.keys()

Index(['Unnamed: 0', 'Unnamed: 1', 'Unnamed: 2', 'Cinema', 'Crisan', 'DEPOZIT',
       'Gara', 'Progresu', 'Steaua', 'Zahana', 'TOTAL'],
      dtype='object')

In [56]:
f1df = f1df.rename(columns={
    "Unnamed: 0" : "COD",
    "Unnamed: 1" : "Produs",
}) 
f1df

,COD,Produs,Unnamed: 2,Cinema,Crisan,DEPOZIT,Gara,Progresu,Steaua,Zahana,TOTAL
0,378,RECAS SCHWABEN WEIN 750ML ROZE DEMIDULCE,Stoc,0,0,0,0,0,0,0,0
1,379,VIN CASTEL HUNIADE 750ML ROZE DEMISEC,Stoc,0,0,0,0,0,0,0,0

In [57]:
f2df = f1df.rename(columns={
    "Unnamed: 0" : "COD",
    "Unnamed: 1" : "Produs",
}) 
f2df

,COD,Produs,Unnamed: 2,Cinema,Crisan,DEPOZIT,Gara,Progresu,Steaua,Zahana,TOTAL
0,378,RECAS SCHWABEN WEIN 750ML ROZE DEMIDULCE,Stoc,0,0,0,0,0,0,0,0
1,379,VIN CASTEL HUNIADE 750ML ROZE DEMISEC,Stoc,0,0,0,0,0,0,0,0

In [58]:
merge_df = pd.merge(f1df,f1df, on="COD")
merge_df

,COD,Produs_x,Unnamed: 2_x,Cinema_x,Crisan_x,DEPOZIT_x,Gara_x,Progresu_x,Steaua_x,Zahana_x,...,Produs_y,Unnamed: 2_y,Cinema_y,Crisan_y,DEPOZIT_y,Gara_y,Progresu_y,Steaua_y,Zahana_y,TOTAL_y
0,378,RECAS SCHWABEN WEIN 750ML ROZE DEMIDULCE,Stoc,0,0,0,0,0,0,0,...,RECAS SCHWABEN WEIN 750ML ROZE DEMIDULCE,Stoc,0,0,0,0,0,0,0,0
1,379,VIN CASTEL HUNIADE 750ML ROZE DEMISEC,Stoc,0,0,0,0,0,0,0,...,VIN CASTEL HUNIADE 750ML ROZE DEMISEC,Stoc,0,0,0,0,0,0,0,0

In [59]:
merge_df.keys()

Index(['COD', 'Produs_x', 'Unnamed: 2_x', 'Cinema_x', 'Crisan_x', 'DEPOZIT_x',
       'Gara_x', 'Progresu_x', 'Steaua_x', 'Zahana_x', 'TOTAL_x', 'Produs_y',
       'Unnamed: 2_y', 'Cinema_y', 'Crisan_y', 'DEPOZIT_y', 'Gara_y',
       'Progresu_y', 'Steaua_y', 'Zahana_y', 'TOTAL_y'],
      dtype='object')

In [60]:
merge_df = merge_df.drop(['Unnamed: 2_x', 'Unnamed: 2_y', 'Produs_y'], axis=1)
merge_df

,COD,Produs_x,Cinema_x,Crisan_x,DEPOZIT_x,Gara_x,Progresu_x,Steaua_x,Zahana_x,TOTAL_x,Cinema_y,Crisan_y,DEPOZIT_y,Gara_y,Progresu_y,Steaua_y,Zahana_y,TOTAL_y
0,378,RECAS SCHWABEN WEIN 750ML ROZE DEMIDULCE,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,379,VIN CASTEL HUNIADE 750ML ROZE DEMISEC,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [61]:
merge_df["TR CI"] = 0
merge_df["TR CR"] = 0

In [62]:
merge_df.head(2)

,COD,Produs_x,Cinema_x,Crisan_x,DEPOZIT_x,Gara_x,Progresu_x,Steaua_x,Zahana_x,TOTAL_x,Cinema_y,Crisan_y,DEPOZIT_y,Gara_y,Progresu_y,Steaua_y,Zahana_y,TOTAL_y,TR CI,TR CR
0,378,RECAS SCHWABEN WEIN 750ML ROZE DEMIDULCE,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,379,VIN CASTEL HUNIADE 750ML ROZE DEMISEC,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [63]:
merge_df.keys()

Index(['COD', 'Produs_x', 'Cinema_x', 'Crisan_x', 'DEPOZIT_x', 'Gara_x',
       'Progresu_x', 'Steaua_x', 'Zahana_x', 'TOTAL_x', 'Cinema_y', 'Crisan_y',
       'DEPOZIT_y', 'Gara_y', 'Progresu_y', 'Steaua_y', 'Zahana_y', 'TOTAL_y',
       'TR CI', 'TR CR'],
      dtype='object')

In [64]:
merge_df = merge_df[['COD', 'Produs_x', 'Cinema_x', 'Cinema_y', 'Crisan_x', 'DEPOZIT_x',
       'Gara_x', 'Progresu_x', 'Steaua_x', 'Zahana_x', 'TOTAL_x', 'Crisan_y',
       'DEPOZIT_y', 'Gara_y', 'Progresu_y', 'Steaua_y', 'Zahana_y', 'TOTAL_y',
       'TR CI', 'TR CR']]
merge_df

,COD,Produs_x,Cinema_x,Cinema_y,Crisan_x,DEPOZIT_x,Gara_x,Progresu_x,Steaua_x,Zahana_x,TOTAL_x,Crisan_y,DEPOZIT_y,Gara_y,Progresu_y,Steaua_y,Zahana_y,TOTAL_y,TR CI,TR CR
0,378,RECAS SCHWABEN WEIN 750ML ROZE DEMIDULCE,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,379,VIN CASTEL HUNIADE 750ML ROZE DEMISEC,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [65]:
merge_df.rename(
    columns={
        "Produs_x": "PRODUS",
        "Cinema_x": "Cinema",
    }
)

,COD,PRODUS,Cinema,Cinema_y,Crisan_x,DEPOZIT_x,Gara_x,Progresu_x,Steaua_x,Zahana_x,TOTAL_x,Crisan_y,DEPOZIT_y,Gara_y,Progresu_y,Steaua_y,Zahana_y,TOTAL_y,TR CI,TR CR
0,378,RECAS SCHWABEN WEIN 750ML ROZE DEMIDULCE,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,379,VIN CASTEL HUNIADE 750ML ROZE DEMISEC,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

# Salvare in fisier csv (export)

In [67]:
merge_df.to_csv("date/fisier_salvat.csv")

In [66]:
f3df = pd.read_csv("date/fisier3.csv")
f3df

,COD,PRODUS,COMANDA F,TR CI,Cinema,VZ CI,TR CR,Crisan,VZ CR,DEPOZIT,...,VZ PR,TR ST,Steaua,VZ ST,TR ZA,Zahana,VZ ZA,TOTAL,VZ 1,VZ 6
0,378,RECAS SCHWABEN WEIN 750ML ROZE DEMIDULCE,NaN,NaN,0,0,NaN,0,0,0,...,0,NaN,0,0,NaN,0,0,0,0,NaN
1,379,VIN CASTEL HUNIADE 750ML ROZE DEMISEC,NaN,NaN,0,0,NaN,0,0,0,...,0,NaN,0,0,NaN,0,0,0,0,NaN
2,380,VIN CASTEL HUNIADE 750ML RIESLING SEC,NaN,NaN,0,0,NaN,0,0,0,...,0,NaN,0,0,NaN,0,0,0,0,NaN
3,381,VIN CASTEL HUNIADE 750ML FETEASCA REGALA DEMISEC,NaN,NaN,0,0,NaN,0,0,0,...,0,NaN,0,0,NaN,1,0,0,0,NaN
4,382,VIN CASTEL HUNIADE 750ML CHARDONNAY DEMIDULCE,NaN,NaN,0,0,NaN,0,0,0,...,0,NaN,0,0,NaN,0,0,0,0,NaN
5,383,VIN CASTEL HUNIADE 750ML MERLOT/PINOT NOIR DD,NaN,NaN,0,0,NaN,0,0,0,...,0,NaN,0,0,NaN,3,1,5,1,NaN
6,384,VIN CASTEL HUNIADE 750NL CABERNET SAUVIGNON AL...,NaN,NaN,0,0,NaN,3,0,0,...,0,NaN,0,0,NaN,0,0,3,0,NaN
7,389,BERE CIUCAS 1L,NaN,NaN,0,0,NaN,0,0,0,...,0,NaN,0,0,NaN,-1,0,-4,0,NaN
8,1040,COTNARI 1.5L ETICHETA GALBENA ROSU DS,NaN,NaN,0,0,NaN,0,0,0,...,0,NaN,1,0,NaN,0,0,-2,0,NaN